@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus sem non augue tempus tincidunt interdum hendrerit urna. Nulla facilisi. Maecenas vel rhoncus est, a tristique metus. Etiam faucibus sem vitae tempor viverra. Donec feugiat augue a dolor sagittis molestie. Ut fermentum molestie velit, vitae porta ligula interdum quis. Donec tincidunt lacus nec nunc lobortis ultrices. Suspendisse ex nunc, accumsan nec varius at, fermentum accumsan dolor.

    In ut nibh ultricies, consequat felis efficitur, mollis elit. Integer tristique diam in velit luctus, tristique sollicitudin enim luctus. Mauris lectus nisl, tincidunt quis lobortis eu, efficitur sed sem. Donec tempor mi eu malesuada blandit. Nulla pharetra auctor arcu. Vestibulum eleifend nec sapien quis fermentum. Ut ultrices nisi orci, eget pretium sapien placerat eu. Vestibulum laoreet arcu at mi consequat, in facilisis enim vulputate.

    Curabitur mattis dui sed enim ornare, sed tempor ante dapibus. Morbi volutpat ligula metus, ac mollis eros sodales in. Praesent et ex nec leo iaculis faucibus. Phasellus laoreet lorem aliquet sem varius, ut mollis purus sagittis. Mauris eget dolor justo. In ultricies felis a viverra elementum. Quisque dictum dui vel urna mollis, nec rutrum elit molestie. Proin mattis imperdiet eros tristique sodales.

    Praesent auctor risus at leo tristique semper. Maecenas rutrum tincidunt venenatis. Aenean sagittis laoreet feugiat. Nam pellentesque massa non lectus euismod dignissim. Vivamus convallis finibus tristique. Maecenas magna mauris, scelerisque in magna a, vehicula tincidunt leo. Curabitur lobortis neque vitae metus lobortis, et rutrum nisl pretium. Donec eleifend justo vel ante semper, at ornare sapien laoreet. Pellentesque et odio semper, posuere augue vel, sagittis neque. Integer ipsum nisl, efficitur non erat ac, dictum ultrices sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus bibendum ipsum ut finibus feugiat. Nunc rhoncus diam in ante varius, ac lobortis nisl molestie. Proin nec enim nec nunc ullamcorper accumsan.

    Integer feugiat est urna, vitae blandit nibh pretium in. Aenean nec malesuada ligula. Fusce quam diam, pulvinar nec accumsan at, tincidunt sit amet lectus. Suspendisse posuere, ante vitae condimentum consequat, mauris tortor rutrum dolor, eget cursus augue sem elementum lacus. Nullam efficitur id ipsum id commodo. Vivamus a elementum quam, fermentum finibus leo. Duis mauris diam, aliquam id bibendum sit amet, tristique in nibh.
</p>
