@model NoteFormModel
@{
    ViewData["Title"] = "Add a Note";
}
<head>
    <link rel="stylesheet" href="/css/note-style.css">
</head>

<h2 class="text-center text-white">@ViewData["Title"]</h2>
<hr />

<partial name="_NoteFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
