@using DotNote.Web.ViewModels.Home
@model IEnumerable<IndexViewModel>
@{
    ViewData["Title"] = "Home Page";

    var notes = Model.ToList();
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
    <link rel="stylesheet" href="/css/home-page-guest.css">
    <link rel="stylesheet" href="/css/home-page-logged-in.css">
</head>

@if (!User.Identity.IsAuthenticated)
{
    <section class="container">
        <h2 class="header">DotNote </h2>
        <h2 class="header">Write, plan, share</h2>
        <div class="features">
            <div class="card">
                <span><i class="ri-calendar-2-line"></i></span>
                <h4>Personal Dashboard</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="card">
                <span><i class="ri-pencil-line"></i></span>
                <h4>Write</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="card">
                <span><i class="ri-history-line"></i></span>
                <h4>Your Plans</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="card">
                <span><i class="ri-shake-hands-line"></i></span>
                <h4>Share</h4>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </section>

    <section class="container">
        <h2 class="header">What we really are</h2>
        <div class="pricing">
            <div class="card">
                <div class="content">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    <p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    <p>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    <p>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <body>
        <div class="background-img">
            <div class="calendar">
                <header>
                    <h3></h3>
                    <nav>
                        <button id="prev"></button>
                        <button id="next"></button>
                    </nav>
                </header>
                <section>
                    <ul class="days">
                        <li>Sun</li>
                        <li>Mon</li>
                        <li>Tue</li>
                        <li>Wed</li>
                        <li>Thu</li>
                        <li>Fri</li>
                        <li>Sat</li>
                    </ul>
                    <ul class="dates"></ul>
                </section>
            </div>
            <div class="title">
                <h1>
                    <img class="person" src="/img/home/person.png" />
                    Personal Dashboard
                </h1>
            </div>
        </div>
        <div class="latest-notes">
            <h3>Latest Notes</h3>
            <div class="row">
            @for (int i = 0; i < notes.Count; i++)
            {
                var note = notes[i];
                <div class="col-md-3 mx-5 mb-5 d-grid gap-3 d-md-flex justify-content-lg-between bg-warning">
                    <div class="card-body" style="height: 18rem; width: 8rem">
                        <h5 class="card-title text-center">@note.Title</h5>
                        <h6 class="card-title text-center">@note.Subtitle</h6>
                        <p class="card-text">@note.Text</p>
                    </div>
                </div>
            }
            </div>
        </div>
    </body>
}
