@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">
    <link rel="stylesheet" href="/css/home-page-guest.css">
    <link rel="stylesheet" href="/css/home-page-logged-in.css">
    <title>DotNote</title>
</head>

<!--Guest Home Page View-->
@* <section class="container">
    <h2 class="header">DotNote </h2>
    <h2 class="header">Write, plan, share</h2>
    <div class="features">
        <div class="card">
            <span><i class="ri-calendar-2-line"></i></span>
            <h4>Personal Dashboard</h4>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
        <div class="card">
            <span><i class="ri-pencil-line"></i></span>
            <h4>Write</h4>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
        <div class="card">
            <span><i class="ri-history-line"></i></span>
            <h4>Your Plans</h4>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
        <div class="card">
            <span><i class="ri-shake-hands-line"></i></span>
            <h4>Share</h4>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
    </div>
</section>

<section class="container">
    <h2 class="header">What we really are</h2>
    <div class="pricing">
        <div class="card">
            <div class="content">
                <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                <p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                <p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                <p>
            </div>
        </div>
    </div>
</section> *@

<!--Logged In Home Page View-->
<body>
    <div class="background-img">
        <div class="calendar">
            <header>
                <h3></h3>
                <nav>
                    <button id="prev"></button>
                    <button id="next"></button>
                </nav>
            </header>
            <section>
                <ul class="days">
                    <li>Sun</li>
                    <li>Mon</li>
                    <li>Tue</li>
                    <li>Wed</li>
                    <li>Thu</li>
                    <li>Fri</li>
                    <li>Sat</li>
                </ul>
                <ul class="dates"></ul>
            </section>
        </div>
        <div class="title">
            <h1>
                <img class="person" src="img/home/person.png" />
                Personal Dashboard
            </h1>
        </div>
    </div>
    <div class="latest-notes">
        <h3>Latest Notes</h3>
        <div class="row justify-content-around">
            <div class="note card col-3 bg-warning">
                <div class="card-body">
                    <h5 class="card-title">Note 1 Title</h5>
                    <h6 class="card-title">Note 1 Subtitle</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis tincidunt ex, sit amet iaculis. </p>
                    <button href="#" class="btn btn-dark">Edit</button>
                </div>
            </div>
            <div class="note card col-3 bg-warning">
                <div class="card-body">
                    <h5 class="card-title">Note 2 Title</h5>
                    <h6 class="card-title">Note 2 Subtitle</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis tincidunt ex, sit amet iaculis. </p>

                    <button href="#" class="btn btn-dark">Edit</button>
                </div>
            </div>
            <div class="note card col-3 bg-warning">
                <div class="card-body">
                    <h5 class="card-title">Note 3 Title</h5>
                    <h6 class="card-title">Note 3 Subtitle</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis tincidunt ex, sit amet iaculis. </p>
                    <button href="#" class="btn btn-dark">Edit</button>
                </div>
            </div>
        </div>
    </div>
</body>
