﻿@using Microsoft.AspNetCore.Identity
@using DotNote.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dot Note</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/layout.css" asp-append-version="true" />
</head>
<nav class="main-menu">
    <ul>
        <li>
            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="list-inline border-bottom">
                    <img class="nav-icon-profile list-inline-item fa fa-2x mx-1" src="/img/menu/profile.png" alt="profile" />
                    <a class="" sp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <span class="btn-dark">
                            @User.Identity?.Name
                        </span>

                        <form class="d-inline align-content-md-end mx-2" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button class="btn-dark">Logout</button>
                        </form>
                    </a>
                </ul>
            }
            else
            {
                <ul class="list-inline border-bottom">
                    <img class="nav-icon-profile list-inline-item fa fa-2x mx-1 " src="/img/menu/profile.png" alt="profile" />
                    <a class="mx-3 text-light" asp-area="Identity" asp-page="/Account/Register">
                        <button>
                            Register
                        </button>
                    </a>
                    <a class="mx-3 text-light" asp-area="Identity" asp-page="/Account/Login">
                        <button>
                            Login
                        </button>
                    </a>
                </ul>
            }
        </li>
        <li>
            <a asp-area="" asp-controller="Note" asp-action="New">
                <i class="fa fa-2x">
                    <img class="nav-icon" src="/img/menu/add.png" alt="add" />
                </i>
                <span class="nav-text">
                    New Note
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-2x">
                    <img class="nav-icon" src="/img/menu/updates.png" alt="updates" />
                </i>
                <span class="nav-text">
                    Updates
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-2x">
                    <img class="nav-icon" src="/img/menu/calendar.png" alt="calendar" />
                </i>
                <span class="nav-text">
                    Calendar
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-2x">
                    <img class="nav-icon" src="/img/menu/settings.png" alt="settings" />
                </i>
                <span class="nav-text">
                    Settings
                </span>
            </a>
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-2x">
                    <img class="nav-icon" src="/img/menu/folders.png" alt="folders" />
                </i>
                <span class="nav-text">
                    Notes Folders
                </span>
            </a>

        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="#">
                <i class="fa fa-2x">
                    <img class="nav-icon" src="/img/menu/trash1.png" alt="trash" />
                </i>
                <span class="nav-text">
                    Trash
                </span>
            </a>
        </li>
    </ul>


</nav>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer-section border-top ">
    <div class="container">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/logo2.png" class="img-fluid" alt="DotNote Logo"></a>
                        </div>
                        <div class="footer-text">
                            <h4>&copy; DotNote - 2023</h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Cras tincidunt luctus dictum. Suspendisse viverra mauris vitae
                                pellentesque hendrerit. Nam vestibulum felis est, quis tincidunt
                                leo mollis vitae. Vivamus suscipit lorem ut nunc suscipit, posuere
                                feugiat nibh egestas. Ut lacinia aliquam libero vel ultrices. Donec
                                posuere massa sit amet rhoncus faucibus.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>