/* Main */
div .background-img {
    height: 50vh;
    background-image: url("../img/home/background.jpg");
    background-size: cover;
}

.latest-notes h3 {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.title h1 {
    color: white;
    font-weight: bold ;
    font-size: 50px;
    position: absolute;
    top: 40vh;
    display: inline;
}

.person {
    display: inline;
    width: 64px;
    margin-left: 100px;
}
/* Note */
.edit-button {
    width: 50px;
}


/* Calendar */

.calendar {
    position: absolute;
    top: 12vh;
    left: 120vh;
    width: auto;
    height: auto;
    max-width: 280px;
    padding: 1rem;
    background: #b0b0b0;
    border-radius: 10px;
}

    .calendar header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .calendar nav {
        display: flex;
        align-items: center;
    }

    .calendar ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

        .calendar ul li {
            width: calc(100% / 7);
            position: relative;
            z-index: 2;
        }

#prev,
#next {
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
}

    #prev::before,
    #next::before {
        content: "";
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        border-color: #ccc;
    }

    #next::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    #prev::before {
        transform: translate(-50%, -50%) rotate(-135deg);
    }

    #prev:hover::before,
    #next:hover::before {
        border-color: #000;
    }

.days {
    font-weight: 600;
}

.dates li.today {
    color: #151414;
}

    .dates li.today::before {
        content: "";
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #7a7a7a;
        border-radius: 50%;
        z-index: -1;
    }

.dates li.inactive {
    color: darkred;
}
