body {
    font-family: 'Poppins', sans-serif;
    background-color: #202020;
}
.note-container {
    max-width: 500px;
    height: 600px;
    margin: 20px auto;
    background-color: #ffcf24;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.note-title {
    font-size: 24px;
    border: none;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.note-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    background-color: #fcdf9a;
    text-align: center;
}

.note-textarea {
    width: 100%;
    height: 350px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #fcdf9a;
    border: none;
}

.note-submit {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

    .note-submit:hover {
        background-color: #45a049;
        border: none;
    }
